<div class="container-fluid mt-5">
  <div class="row">
    <div class="parent">
      <div class="child bg-one">
        <a class="title">Welcome to car-app</a>
      </div>
    </div>
  </div>
  <div class="row display-flex justify-content-center">
    <app-car-card
      class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3"
      *ngFor="let Car of Cars"
      [Car]="Car"
    ></app-car-card>
  </div>
</div>
